<%- include('../partials/header') %>

<main class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <%- body -%>
    <%- include('../partials/footer') %>
</main>

</body>
</html>