<% layout('layouts/boilerplate') -%>

<div class="d-flex align-items-center justify-content-center">
    <h1 class="display-1 ">Not Found</h1>
</div>

<a href="/campground" class="btn btn-warning">Back To Campground</a>