<%- include('partials/header') %>

<div class="d-flex align-items-center justify-content-center vh-100 bg-dark">
    <h1 class="display-1 text-white">404 Not Found</h1>
</div>

<%- include('partials/footer') %>