<% layout('layouts/boilerplate') -%>

<div class="list-group">
    <div class="">
        <a href="#" class="list-group-item list-group-item-action active rounded-0">
            List of CampGrounds
        </a>
    </div>
    <% for (const iterator of campground) { %>
        <a href="/campground/<%= iterator._id %>" class="list-group-item list-group-item-action rounded-0">
            <%= iterator.title %>
        </a>
        <% } %>
</div>
